* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
}

.three {
    padding-top: 0.5rem;
    margin-right: 1rem;
    font-size: 0.6rem;
}

section {
    flex-grow: 1;
    overflow: auto;
    height: 2rem;
}

.wrap {
    width: 100%;
    background: #eeeeee;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.list {
    width: 100%;
    font-size: 0.7rem;
    background: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.list > span {
    display: inline-block;
    padding: 0.5rem;
}

.list > span:nth-child(1) {
    color: black;
    border-right: 1px solid #aaaaaa;
}

.list > span:nth-child(2) > input {
    border: none;
    outline: none;
    list-style: none;
}

.yzm {
    color: #ff0000;
}

.btn {
    width: 96%;
    background: #ff3552;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    line-height: 2rem;
}

.btn > a {
    text-decoration: none;
    color: white;
}

.msg {
    width: 100%;
    font-size: 0.7rem;
    margin-top: 0.9rem;
    margin-bottom: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.msg div a {
    color: #999;
}

.ema {
    width: 100%;
    text-align: center;
    font-size: 0.5rem;
}
.icon_lo{
    width: 100%;
}
.icon_lo>img{
    display: block;
    margin: 1rem auto;
}
footer {
    width: 100%;
}

footer > ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

footer > ul > li {
    width: 20%;
    text-align: center;
}

footer > ul > li > a {
    text-decoration: none;
    color: black;
    font-size: 0.5rem;
}

footer > ul > li > a > img {
    display: block;
    margin: 0 auto;
}